:root {
  --mm3: 0.46vh;
  --mm9: 1.26vh;
  --mm10: 1.4vh;
  --mm12: 1.68vh;
  --mm15: 2.1vh;
  --mm20: 2.8vh;
  --mm22: 3.1vh;
  --mm25: 3.5vh;
  --mm30: 4.2vh;
  --mm40: 5.6vh;
  --mm45: 6.3vh;
  --mm50: 7vh;
  --mm60: 8.4vh;
  --light_via: #3d3d3d;
  --light: #1f1f1f;
  --lightbg: #fdfdfd;
  --canceledbg: #dfdfdf;
  --canceledTxt: rgb(12, 12, 12);

  color: #000000;
  background: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  color: black;
  height: 100vh;
  aspect-ratio: 9 / 16;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
.LR_mainContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


div.stopRows {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
div.stopRow {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: var(--mm22);
  border-bottom: 2px solid #0000004d;
  color: black;
  padding: 0vh 0.4vh 0vh 0.4vh;
  box-sizing: border-box;
  height: var(--mm25);
}

div.alertRow {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: var(--mm22);
  border-bottom: 2px solid #0000004d;
  color: black;
  padding: 0vh 0.4vh 0vh 0.4vh;
  box-sizing: border-box;
  height: var(--mm25); 
}
span.min {
  font-weight: 500;
  font-family: 'Inter Variable';
}
div.stopRow:nth-child(even) {
  background: var(--lightbg);
}

div.stopRow:nth-child(1), div.stopRow:nth-child(2)  {
  background: white;
  height: var(--mm40);
  display: flex;
  align-items: center;
}
div.stopRow:nth-child(1) p, div.stopRow:nth-child(2) p {
  font-size: var(--mm25);
}

div.stopRow:nth-child(1) p.longRouteName, div.stopRow:nth-child(2) p.longRouteName {
  font-size: var(--mm22);
}

.warning {
  position: absolute;
  height: 2.5vh;
  margin-left: 0.55vh;
}
div.stopRow:nth-child(1) .warning, div.stopRow:nth-child(2) .warning {
  height: 3vh;
  margin-top: 0.5vh;
  margin-left: 0.25vh;
  position: absolute;
}

.alertRow .warning {
  display: block;
  position: relative;
  height: 2.5vh;
  margin-left: 0.5vh;
}

div.stopRow.canceled {
  background: var(--canceledbg);
  color: var(--canceledTxt);
  position: relative;
}
div.stopRow.canceled::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
}
div.stopRow.alerted {
}

p {
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: var(--mm15);
  text-align: left;
  margin: 0;
}
div.destination_time {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
p.destination {
  font-weight: 600;
  text-align: left;
  vertical-align: middle;
  
}
p.destination span {
  margin: 0;
  padding: 0;
  font-size: var(--mm10);
  margin-left: var(--mm3);
  font-weight: 600;
  color: var(--light_via);
}
p.destination span span.viaDests {
  margin: 0;
  color: var(--light);
  font-weight: 600;
}


p.route {
  flex: 0 0 var(--mm60);
  font-family: 'Inter Variable', sans-serif;
  font-weight: 800;
  text-align: left;
  margin: 0;
  padding: 0;
}
p.time {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.02vh;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
.destination.alert {
  font-weight: 500;
  font-family: 'Barlow Semi Condensed';
  font-size: var(--mm12);
  margin-left: 0.5vh;
}
.alert.routealert {
  font-weight: 500;
  font-family: 'Barlow Semi Condensed';
  margin-left: 0vh;
  font-size: var(--mm12);
}
.alertRow.SEVERE {
  color: white;
  background: black;
  border-color: white;
}
.stopRow.SEVERE {
  color: white;
  background: black;
  border-color: white;
}
.stopRow.canceled.SEVERE {
  color: white;
  background: black;
  border-color: white;
}
.stopRow.canceled.SEVERE::after {
  border-color: white;
}
.stopRow.SEVERE span {
  color: white;
  background: black;
}
.stopRow.SEVERE .viaDests {
  color: white;
  background: black;
}

div.mapContainer {
  flex: 0 0 30vh;
  margin: 1vh 0vh 1vh 0vh;
  border: 1px solid #00000030;
  width: 95%;
  border-radius: 5mm;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
div.mapContainer.error{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error h1 {
  font-family: 'Barlow Semi Condensed';
  color: black;
  font-weight: 600;
  font-size: var(--mm20);
  text-align: center;
}