.header, .header13inch {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: var(--mm30);
    border-bottom: 2px solid black;
}
.header13inch {
    height: var(--inch13mm27);
}
.header div, .header13inch div {
    flex: 1;
    font-family: 'Barlow Semi Condensed';
    color: black;
    font-weight: 600;
    font-size: var(--mm20);
}
.header13inch div {
    
    font-size: var(--inch13mm22);
}
.header div.time, .header13inch div.time {
    font-family: 'Inter Variable';
    font-weight: 600;
    text-align: right;
}

.footer {
    flex: 0 0 var(--mm45);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    color: black;
    font-weight: 600;
    font-size: var(--mm12);;
}

.footer13inch {
    flex: 0 0 var(--mm45);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0;
    padding: 0;
    font-family: 'Barlow';
    color: black;
    font-weight: 600;
    
}

.footer div.cta, .footer13inch div.cta {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1vh;
}
.footer13inch div.cta {
    justify-content: center;
    align-items: center;
}
.footer div.cta div, .footer13inch div.cta div {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer div.cta div p, .footer13inch div.cta div p {
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    font-size: var(--mm9);
    line-height: var(--mm12);
    margin: var(--mm9);
    padding: 0;
    vertical-align: middle;
}
.footer13inch div.cta div p {
    line-height: var(--inch13mm15);
    margin: var(--inch13mm15);
}

.footer div.cta div img, .footer13inch div.cta div img {
    height: var(--mm30);
    margin: 0;
    margin-top: 0.25vh;
    padding: 0.4vh;
    border-radius: 0.7vh;
    border: 2px solid #00000060;
    box-sizing: border-box;
}
.footer13inch div.cta div img {
    height: var(--inch13mm30);
}
.footer13inch div.cta div img {
    margin-top: 0.25vh;
}
.footer div.cta div p {
    font-size: var(--mm9);
    font-weight: 400;
}
.footer13inch div.cta div p {
    font-size: var(--inch13mm12);
    font-weight: 400;
    margin-top: 2.5vh;
}


.footer div.logo {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
span.link {
    font-weight: 700;
}
.footer div.logo img {
    height: var(--mm25)
}