.header {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30mm;
    border-bottom: 2px solid black;
}
.header div {
    flex: 1;
    font-family: 'Barlow Semi Condensed';
    color: black;
    font-weight: 600;
    font-size: 20mm;
}
.header div.time {
    font-family: 'Inter Variable';
    font-weight: 700;
    text-align: right;
}