:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  color: black;
  height: 691mm;
  width: 389mm;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
.LR_mainContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.mapContainer {
  flex: 0 0 240mm;
  margin: 5mm 0mm 5mm 0mm;
  border: 1px solid #00000030;
  width: 95%;
  border-radius: 5mm;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

div.stopRows {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
div.stopRow {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 25mm;
  border-bottom: 1px solid #00000090;
  color: black;
}

div.stopRow:nth-child(even) {
  background: #fcfcfc;
}

div.stopRow:nth-child(1), div.stopRow:nth-child(2)  {
  height: calc(90mm / 3);
  background: white;
  height: 40mm;
  display: flex;
  align-items: center;
}
div.stopRow:nth-child(1) p, div.stopRow:nth-child(2) p {
  font-size: 25mm;
}

p {
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 15mm;
  line-height: 0mm;
  text-align: left;
}
div.destination_time {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
p.destination {

  font-weight: 600;
  text-align: left;
  vertical-align: middle;
}
p.destination span {
  vertical-align: top;
}
p.route {
  flex: 0 0 50mm;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 800;
  text-align: left;
}
p.time {
  font-family: 'Inter Variable', sans-serif;
  font-weight: 700;
  text-align: right;
}
